.logo {
	text-indent: -99999px;
	position: relative;
	z-index: 1;

	background: url(../img/paperdreamslogo.png) center center no-repeat;
	background: url(../img/paperdreamslogo.svg) center center no-repeat;
	background-size: auto 100%;

	width: auto;
	height: $Lead * 3;

	@include respond-to(520px) {
		height: $Lead * 4;
	}

	@include respond-to(940px) {
		margin-top: $Lead * 2.5;
	}
}