body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

	padding-bottom: $Lead * 2;
	@include font-size($FontSize-5);
	@include line-height($Lead);

	color: $Colour-base;
	background-color: #F4F3F2;
}

html {
	font-size: 16px;

	@include respond-to(480px) {
		font-size: 120%;
	}

	@include respond-to(520px) {
		font-size: 135%;
	}
}

footer {

}