<!--(bake includes/header.html)-->

<header class="row row-spacer--2">
	<div class="column column-3">
		<!-- <img src="assets/img/invite.jpg" alt="" class="img"> -->
		<h1 class="logo">Paper dreams co.</h1>

		<ul class="listSocial">
			<li><a href="https://instagram.com/paperdreams.co/" class="link">Instagram</a></li>
			<li><a href="https://www.facebook.com/paperdreams.co" class="link">Facebook</a></li>
			<li><a href="https://twitter.com/paperdreams_co" class="link">Twitter</a></li>
		</ul>
	</div>
</header>

<section class="section">
	<div class="row">
		<div class="column column-3">
			<p>We design and create beautiful, high quality wedding stationery. All of our design is done in house and we put everything together by hand in our Tunbridge Wells studio.</p>

			<p>We can incorporate your wedding theme and colours, providing a colour matching service if required.</p>
		</div>
	</div>
</section>

<section class="section">
	<div class="row">
		<div class="column column-3">
			<h2>Bespoke wedding stationery</h2>
			
			<p>If you are looking for a truly personal approach to your special day, we can create a theme which is unique to you.</p>
			
			<p>We will discuss the style and feel of your wedding day and use this to inform the design of your stationery. You can choose from a range of card stocks, ribbons, embellishments and more. If you need guidance in any of these areas we are more than happy to help!</p>
			
			<p>Due to the time necessary for bespoke projects, we do have some limitations on the number we can take on. Please contact us to find out more about timescales and availability.</p>

			<p>For more information or to discuss a bespoke design please contact us at <a href="mailto:studio@paperdreams.co" class="link">studio@paperdreams.co</a>.</p>
		</div>
	</div>
</section>

<!--(bake includes/footer.html)-->