.#{$Row-selector} {
	@include row();

	.#{$Row-selector} {
		@include row-nested();
	}
}

.row-spacer {
	margin-top: $Lead;
}

.row-spacer--2 {
	margin-top: $Lead * 2;
}

.row-spacer--4 {
	margin-top: $Lead * 4;
}



// --------------------------------------------------------------------------
// Grid Column
// --------------------------------------------------------------------------

.#{$Column-selector} {
	@include column();
}



// --------------------------------------------------------------------------
// Generate Columns
// --------------------------------------------------------------------------

@include generateColumns();